.chat__container {
    position: absolute;
    z-index: 2;
    max-width: 30%;
    display: flex;
    flex-wrap: wrap;
}

.chat__box {
    display: flex;
    flex-direction: row;
    background: #FFF;
    max-width: 400px;
    border-radius: 6px;
    padding: 3px 4px;
    margin: 2px;
}

.chat__avatar {
    max-width: 20px;
}

.chat__text {
    color: #000;
    margin: 0;
}

.chat__name {
    font-weight: bold;
}
